﻿<script type="text/javascript">
    var tempalteId =@ViewData["TemplateId"].ToString()
</script>
<div class="box-shadow">
    <span> Create Project From Template:  @ViewData["TemplateName"].ToString()</span>
    <span class="label-input100">Project Name</span>
    <input type="text" id="ProjectName" class="input-group-text" />
    <span class="label-input100">Project Description</span>
    <input type="text" id="ProjectDescription" class="input-group-text" />
    <a id="NextStageProjectName" class="k-nav-next">Next</a>
</div>
