﻿<script type="text/javascript">
    var tempalteId =@ViewData["TemplateId"].ToString()
    var projectName = @ViewData["ProjectName"]
    var projectDescription=@ViewData["ProjectDescription"]
</script>
<div class="box-shadow">
    <span> Create Project :  @ViewData["ProjectName"].ToString()</span>
    <span>Project Name</span>
    <input type="text" id="ProjectPriceRange" class="input-group-text" />
    <span>Project Description</span>
    <input type="date" id="ProjectDeadline" class="input-group-text" />
    <a id="SaveProject" class="k-nav-next">Save</a>
</div>