﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="WebSite For Finding Jobs" />
    <meta name="author" content="Shahram Foroozan" />
    <title>Find Projects And Add Projects</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link href="~/css/styles.css" rel="stylesheet" />*@
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <link href="~/css/W3/W3.css" rel="stylesheet" />
    @*<script src="~/js/scripts.js"></script>*@
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.web.min.js"></script>
    <script src="~/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/Login/popper.js"></script>
    <link href="~/css/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/css/web/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/css/web/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/css/web/kendo.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="page-top">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - FreelancerJobs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
@*<script src="~/js/jquery-3.4.1.min.js"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
