﻿
<div class="container">

    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="HomeOwner" asp-action="Index">   Enter As a Project Owner</a>
    
    <a class="btn btn-secondary btn-lg" asp-area="" asp-controller="HomeFreelancer" asp-action="Index"> Enter As a Freelancer</a>

</div>

