﻿@page
@model LoginModel
@{ Layout = null; }
<link href="~/css/Login/animate.css" rel="stylesheet" />
<link href="~/css/Login/animsition.min.css" rel="stylesheet" />
<link href="~/css/Login/hamburgers.css" rel="stylesheet" />
<link href="~/css/Login/main.css" rel="stylesheet" />
<link href="~/css/Login/util.css" rel="stylesheet" />
<link href="~/css/Login/select2.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/js/jquery-3.4.1.min.js"></script>
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/Login/animsition.min.js"></script>
<script src="~/js/Login/main.js"></script>
<script src="~/js/Login/popper.js"></script>
<script src="~/js/Login/select2.min.js"></script>

<div class="limiter">

    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(/assets/img/Login/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Sign In
                </span>
            </div>
            <form id="account" method="post" class="login100-form">
               
           
             
                <div class="form-group">
                    <label class="label-input100" asp-for="Input.Email">E-mail</label>
                    <input asp-for="Input.Email" class="input100"  placeholder="Enter username"/>
                    <span asp-validation-for="Input.Email" class="wrap-input100 validate-input m-b-26"></span>
                </div>
                <div class="form-group">
                    <label class="label-input100" asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" class="input100" placeholder="Enter password" />
                    <span asp-validation-for="Input.Password" class="wrap-input100 validate-input m-b-18"></span>
                </div>
                @*<div class="flex-sb-m w-full p-b-30">
                    <div class="contact100">
                        <label class="label-checkbox100" asp-for="Input.RememberMe">
                            <input class="input-checkbox100" type="checkbox" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>*@
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Log in</button>
                </div>
                <div asp-validation-summary="All" class="text-danger">
                    
                    <hr />
                </div>
                <div class="form-group">
                    @*<p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>*@
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
           
        </div>
    </div>
</div>


@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
